<!DOCTYPE html>
<html lang="en">

{% include "/styles/style.html" ignore missing %}
<link rel="shortcut icon" href="../static/img/favicon.ico">
<body id="page-top">

  {% include "/styles/sidebar.html" ignore missing %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include "/styles/topbar.html" ignore missing %}



        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">System > Overview </h1><hr>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
      <!-- PAGE CONTENT HERE START -->

      <!-- PAGE CONTENT HERE END -->

      {% include "/styles/footer.html" ignore missing %}


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  {% include "/styles/logout-modal.html" ignore missing %}



</body>

</html>
